@import compass

$primary-color: #5C9ACF
$primary-color-dark: #4376a1
$white-color: #FFF
$black-color: #000
$menu-default-color: #485a6a
$menu-hover-background: #f2f6f9
$body-background: #e9ecf3

*
  outline: none

.md-ripple
  margin: 0px !important

a
  cursor: pointer

html, body
  height: 100%
  background: $body-background

.page-load
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 200
  background: #000
  opacity: 0.7
  img
    position: absolute
    top: 50%
    left: 50%
    margin-top: -20px
    margin-left: -20px

.page-login-overlap
  display: none
  background: #a1b4c8
  position: absolute
  top: 0px
  left: 0px
  bottom: 0px
  right: 0px
  z-index: 4
  min-height: 650px
.page-login
  display: none
  width: 400px
  padding: 0px
  position: absolute
  left: 50%
  margin-left: -200px
  margin-top: 100px
  z-index: 5
  background: $white-color
  border-radius: 4px
  .page-login-header
    background: $primary-color-dark
    padding: 30px
    text-align: center
    h3
      color: #FFF
  .page-login-input
    background: #F9F9F9
    padding: 30px 40px 0px 30px
  .page-login-action
    background: $primary-color-dark
    padding: 20px
    text-align: center
    button
      width: 100px
    a
      color: #FFF

.ui-view-body
  min-height: 100%
  display: none

.panel-container
  width: 100%
  height: 100%

.page-header
  background: $white-color
  margin: 0px
  padding: 0px 15px
  height: 70px
  width: 100%
  .page-logo
    width: 235px
    float: left
    margin-right: -100%
    padding: 25px 0px
    a
      margin: 0px
    .menu-toggler
      background: url("../img/sidebar-toggle-light.png")
      display: inline-block
      width: 20px
      height: 14px
      float: right
      cursor: pointer
    .menu-toggler:hover
      opacity: 0.6
  .top-menu
    display: table
    width: 100%
    height: 70px
    padding-left: 250px
    .navbar-nav
      height: 70px
      >li
        height: 70px
        >a
          padding: 25px 15px
      .dropdown-user
        >a
          padding: 12px 15px

.page-footer
  padding: 15px
  text-align: right

.page-container
  padding: 15px
  display: table
  width: 100%
  .col-left
    width: 235px
    margin-right: -100%
    float: left
  .col-content
    width: 100%
    padding-left: 250px

.page-menu
  background: $white-color
  display: table
  width: 100%
  .page-menu-content
    margin: 8px 0px
    border-radius: 2px
  .page-sidebar-menu
    padding: 0px
    li
      list-style: none
      position: relative
    >li
      display: block
      margin: 0
      padding: 0
      border: 0
      >a
        margin: 1px 0px 0px 0px
        text-shadow: none
        font-size: 14px
        display: block
        position: relative
        padding: 12px 15px
        text-decoration: none
        color: $menu-default-color
        position: relative
        >i
          font-size: 18px
          top: 2px
          position: relative
          width: 24px
          display: inline-block
        >.arrow
          color: $menu-default-color
          width: 10px
          float: right
          margin-right: 5px
          margin-left: 5px
          display: inline
          font-size: 16px
          font-family: FontAwesome
          height: 10px
          font-weight: 300
          text-shadow: none
        >.arrow::before
          content: "\f104"
      >a:hover
        background: $menu-hover-background
        color: $primary-color
    >li.heading
      padding: 25px 15px 10px 15px
      >h3
        color: $primary-color
        font-size: 13px
        padding: 0
        margin: 0
        font-weight: 600
    >li.active
      >a
        margin-left: -3px
        border-left: 3px solid $primary-color
        background: $menu-hover-background
        color: $primary-color
        >.arrow::before
          content: "\f107"
    >li.open > ng-include > .sub-menu
      display: block
    .sub-menu
      padding: 0
      margin: 8px 0
      display: none
      background: #FFF
      width: 235px
      li
        background: 0
        margin: 0
        padding: 0
        margin-top: 1px !important
        a
          color: $menu-default-color
          display: block
          margin: 0
          padding: 9px 14px 9px 30px
          text-decoration: none
          font-size: 14px
          font-weight: 400
          background: 0 0
          position: relative
          >i
            font-size: 16px
            top: 1px
            position: relative
            width: 20px
            display: inline-block
          >.arrow
            color: $menu-default-color
            width: 10px
            float: right
            margin-right: 5px
            margin-left: 5px
            display: inline
            font-size: 16px
            font-family: FontAwesome
            height: 10px
            font-weight: 300
            text-shadow: none
          >.arrow::before
            content: "\f104"
        a:hover
          background: $menu-hover-background
          color: $primary-color
        .sub-menu
          margin: 0px
          li
            a
              padding-left: 40px
      li.active
        >a
          background: $menu-hover-background
          color: $primary-color
          >.arrow::before
            content: "\f107"
        .sub-menu
          display: block
  li.active
    >.sub-menu
      display: block

/* CLOSE MENU */
.close-menu
  .page-header
    .page-logo
      padding: 15px
      width: 50px
      a
        display: none
  .page-menu
    width: 50px
    .page-sidebar-menu
      li.heading
        display: none
      >li
        >a
          >i
            width: 20px
          >.title
            display: none
          >.arrow
            display: none
        >ng-include>.sub-menu
          position: absolute
          display: none
          top: 0px
          left: 50px
          margin: 0px
          border: 1px solid $primary-color
          .sub-menu
            border-left: 1px solid $primary-color
            border-right: 1px solid $primary-color
            margin-left: -1px
            margin-right: -1px
      >li:hover
        >ng-include>.sub-menu
          display: block
  .page-container
    .col-left
      width: 50px
    .col-content
      padding-left: 65px

.page-content
  display: table
  width: 100%

.page-info
  background: #FFF
  display: table
  width: 100%
  padding: 30px 20px 10px 20px

.page-content-header
  display: table
  width: 100%
  padding: 0px
  height: auto
  padding: 15px 15px
  background: #5C9ACF
  h1
    margin: 0px
    float: left
    color: #FFF
    font-size: 28px
    padding: 3px 0px
    font-weight: 300
  .actions
    float: right
    button
      margin: 0px
      margin-left: 10px

.edit-container
  width: 100%
  background: #FFF
  margin-bottom: 20px
  padding: 20px 20px 20px
  .edit-container-title
    padding-bottom: 10px
    h2
      font-size: 22px
      font-weight: 300
      margin: 0px
  h5
    margin-top: 20px
    margin-bottom: 5px
    font-size: 14px
  md-tabs
    md-tabs-wrapper
      margin-bottom: 0px
      background: #666
      md-tab-item
        span
          color: #CCC
      md-tab-item.md-active
        span
          color: #FFF
    md-tab-content
      padding: 0px 10px 10px 10px
      border: 1px solid #DDD
  md-input-container
    label
      margin-bottom: 0px
  .input-block
    margin-top: 20px
    label
      font-size: 11px
      font-weight: bold
      display: block
      color: #666
      margin-bottom: 10px
    .input-file
      display: inline-block
      background: #DDD
      padding: 5px
      border: 1px solid #CCC
      margin: 0px 2px
      border-radius: 2px
    .sample-image
      height: 32px
  md-switch
    margin: 5px 0px
    display: table
    .md-container
      float: left
    .md-label
      float: left
  md-radio-button
    margin: 5px 0px
  md-checkbox
    margin: 5px 0px
    display: table
    .md-container
      float: left
    .md-label
      float: left
  .edit-messages
    position: relative
    margin-top: -26px
    padding: 6px 2px
    p
      margin: 0px
      line-height: 1.2
      font-size: 12px
      color: red
  .modal-picker
    position: fixed
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    background: #000
    opacity: 0.7
    z-index: 200
  .datetime-picker-dropdown
    position: fixed
    top: 50% !important
    left: 50% !important
    margin-top: -150px
    margin-left: -140px
    z-index: 200
  .actions
    padding-bottom: 0px
    padding-top: 20px
    button
      margin: 0px
      margin-right: 10px

.data-table-resource
  padding: 0px
  .data-table-actions
    text-align: right
    background: #999
    .md-button
      color: #FFF

  table.data-table
    border-left: 1px solid #CCC
    border-right: 1px solid #CCC
  .titles-row
    th
      border-bottom: 1px solid #CCC      
      border-right: 1px solid #CCC
      padding: 0 5px !important
      .ng-scope
        height: 30px !important
        font-size: 11px
  .filtes-row
    background: #EEE
    th
      md-checkbox
        display: none !important
    th.filter-column
      border-bottom: 1px solid #CCC      
      border-left: 1px solid #CCC
      padding: 5px 5px 0px !important
      div
        height: auto !important
      div.col2
        width: 50%
        float: left
      input.input-filter
        margin-bottom: 5px
        width: 100%
        padding: 2px 5px
        height: 20px
        line-height: 20px
        font-size: 9px
      select
        line-height: 18px
        height: 18px
        width: 100%
        margin-bottom: 5px
      .modal-picker
        position: fixed
        top: 0px !important
        left: 0px !important
        width: 100% !important
        height: 100% !important
        background: #000
        opacity: 0.7
        z-index: 200
      .dropdown-menu
        position: fixed
        top: 50% !important
        left: 50% !important
        margin-left: -187px !important
        margin-top: -144px !important
        z-index: 200
  tbody
    tr.data-row
      height: auto !important
      >td
        border-bottom: 1px solid #CCC      
        border-left: 1px solid #CCC
        padding: 0px 5px !important
        font-size: 11px !important
        position: relative
        height: 30px
        .thumb
          height: 20px
          margin: 5px 0px
        .actions
          position: absolute
          width: 200px
          top: 0px
          right: 0px
          background: #999
          padding: 0px 15px
          display: none
          text-align: right
          button
            width: 30px !important
            height: 30px !important
            min-height: 30px !important
            line-height: 30px !important
            margin: 0px !important
      img.boolean
        width: 15px
        height: 15px
    tr.data-row:hover
      .actions
        display: block !important
  md-data-table-pagination
    div
      background: #999 !important
      min-height: 48px


.gallery-upload
  background: #ddd
  .features
    float: right
    width: 300px
    padding-left: 20px
  .features
    .heading
      font-size: 14px
      font-weight: bold
  .drop
    padding: 15px
    border-radius: 5px
    line-height: 34px
  .drop.drag-over
    background: #5CB85C
    color: #fff
  .transfer-box
    margin-bottom: 5px
  .transfer-box
    .progress
      margin-bottom: 0
  .thumbnail
    line-height: 20px
    margin-bottom: 5px
    overflow: hidden
    word-break: normal
  .thumbnail
    img
      max-width: 200px
      max-height: 150px
  .gallery-box
    width: 200px
    padding: 5px
    margin: 7px
    float: left
    min-height: 200px
    border: 1px solid #ddd
    overflow: hidden
  .gallery-box
    .progress
      margin-bottom: 0
  .gallery-box
    .thumbnail
      height: 188px
      width: 188px
  .gallery-box
    .title
      height: 22px
      overflow: hidden
      display: block

.gallery-images
  background: #FFF
  padding: 20px 15px 15px
  ul
    padding: 0px
    margin: 0px
    width: 100%
    position: relative
    display: table
    li
      list-style: none
      float: left
      margin: 0px 10px 10px 0px
      border: 1px solid #999
      padding: 4px
      width: 110px
      height: 85px
      img
        display: block