<div class="modal-body ng-scope">
	<ng-form name="nameDialog" novalidate="" role="form" class="ng-pristine ng-invalid ng-invalid-required">		
		<input type="text" class="form-control" name="count" id="count" ng-model="count" ng-keyup="hitEnter($event)" required="" placeholder="Count" ui-number-mask="0" />
	</ng-form>
</div>
<div class="modal-footer ng-scope">
	<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
	<button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(nameDialog.$dirty && nameDialog.$invalid) || nameDialog.$pristine" disabled="disabled">Submit</button>
</div>