<div class="modal-body ng-scope">
	<ng-form name="nameDialog" novalidate="" role="form" class="ng-pristine ng-invalid ng-invalid-required">		
		<input type="password" class="form-control" name="password" id="password" ng-model="password" ng-keyup="hitEnter($event)" required="" placeholder="Enter your password">		
	</ng-form>
</div>
<div class="modal-footer ng-scope">
	<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
	<button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(nameDialog.$dirty && nameDialog.$invalid) || nameDialog.$pristine" disabled="disabled">Submit</button>
</div>