 <!DOCTYPE html>
<html ng-app="starter">
<head lang="en">
    <meta charset="UTF-8">
    <title>Backend</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="stahlclaudio" name="author"/>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/toastr/toastr.min.css"/>
    <link rel="stylesheet" href="bower_components/simple-line-icons/css/simple-line-icons.css"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.layouts.min.css"/>
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css"/>
    <link rel="stylesheet" href="bower_components/angular-dialog-service/dist/dialogs.min.css"/>
    <link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.min.css"/>
    <link rel="stylesheet" href="bower_components/isteven-angular-multiselect/isteven-multi-select.css"/>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/layout.css"/>

    <!--<link rel="shortcut icon" href="favicon.ico" />-->

    <link id="ng_load_plugins_before"/>

</head>
<body ng-controller="AppController">
    <!-- BEGIN PAGE LOAD -->
    <div id="page-load" class="page-load">
        <img src="img/ajax.svg" />
    </div>
    <!-- END PAGE LOAD -->

    <!-- BEGIN LOGIN -->
    <div ng-controller="LoginController">
        <div class="page-login-overlap" id="page-login-overlap">
            <div class="page-login md-whiteframe-3dp" id="page-login">
                <div class="page-login-header">
                    <h3 translate="Login to your account">Login to your account</h3>
                </div>
                <div class="page-login-input">
                    <md-input-container class="md-icon-float md-block">
                        <label translate="Company">Company</label>
                        <md-icon md-svg-src="img/icons/ic_company_24px.svg"></md-icon>
                        <input ng-model="user.company" type="text"/>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label translate="Login">Login</label>
                        <md-icon md-svg-src="img/icons/ic_person_24px.svg"></md-icon>
                        <input ng-model="user.login" type="text"/>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label translate="Password">Password</label>
                        <md-icon md-svg-src="img/icons/ic_key_24px.svg"></md-icon>
                        <input ng-model="user.password" type="password"/>
                    </md-input-container>
                </div>
                <div class="page-login-action">
                    <div>
                        <md-button class="md-raised" translate="Enter" ng-click="send()">Enter</md-button>
                    </div>
                    <div>
                        <a translate="Forget Password?" ng-click="showRecover()">Forget Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END LOGIN -->

    <!-- BEGIN RECOVER -->
    <div ng-controller="RecoverController">
        <div class="page-login-overlap page-recover-overlap" id="page-recover-overlap">
            <div class="page-login page-recover md-whiteframe-3dp" id="page-recover">
                <div class="page-login-header">
                    <h3 translate="Enter your e-mail address below to reset your password">Enter your e-mail address below
                        to
                        reset your password</h3>
                </div>
                <div class="page-login-input">
                    <md-input-container class="md-icon-float md-block">
                        <label translate="E-mail">E-mail</label>
                        <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="name"></md-icon>
                        <input ng-model="user.name" type="text"/>
                    </md-input-container>
                </div>
                <div class="page-login-action">
                    <div>
                        <md-button class="md-raised" translate="Recover">Recover</md-button>
                    </div>
                    <div>
                        <a translate="Login" ng-click="showLogin()">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END RECOVER -->

    <div class="ui-view-body" id="ui-view-body" ui-view></div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/moment/min/moment-with-locales.min.js" type="text/javascript"></script>
    <script src="bower_components/moment/locale/pt-br.js" type="text/javascript"></script>
    <script src="bower_components/toastr/toastr.min.js" type="text/javascript"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-route/angular-route.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-material/angular-material.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-dialog-service/dist/dialogs.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-validation-match/dist/angular-validation-match.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-material-data-table/dist/md-data-table.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-ui-mask/dist/mask.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-money-directive/dist/angular-money-directive.min.js" type="text/javascript"></script>
    <script src="bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.min.js" type="text/javascript"></script>
    <script src="bower_components/string-mask/src/string-mask.js" type="text/javascript"></script>
    <script src="bower_components/angular-input-masks/angular-input-masks-standalone.js" type="text/javascript"></script>
    <script src="bower_components/oclazyload/dist/ocLazyLoad.min.js" type="text/javascript"></script>
    <script src="bower_components/jquery.scrollTo/jquery.scrollTo.min.js" type="text/javascript"></script>
    <script src="bower_components/isteven-angular-multiselect/isteven-multi-select.js" type="text/javascript"></script>
    <script src="bower_components/ng-flow/dist/ng-flow-standalone.min.js"></script>
    <!-- // <script src="bower_components/flow.js/dist/flow.js"></script> -->
    <script src="bower_components/ng-flow/dist/ng-flow.min.js"></script>
    <script src="bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
    <script src="main.js"></script>

</body>
</html>