@charset "UTF-8";
* {
  outline: none;
}

.md-ripple {
  margin: 0px !important;
}

a {
  cursor: pointer;
}

html, body {
  height: 100%;
  background: #e9ecf3;
}

.page-load {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: #000;
  opacity: 0.7;
}
.page-load img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.page-login-overlap {
  display: none;
  background: #a1b4c8;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 4;
  min-height: 650px;
}

.page-login {
  display: none;
  width: 400px;
  padding: 0px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  margin-top: 100px;
  z-index: 5;
  background: #FFF;
  border-radius: 4px;
}
.page-login .page-login-header {
  background: #4376a1;
  padding: 30px;
  text-align: center;
}
.page-login .page-login-header h3 {
  color: #FFF;
}
.page-login .page-login-input {
  background: #F9F9F9;
  padding: 30px 40px 0px 30px;
}
.page-login .page-login-action {
  background: #4376a1;
  padding: 20px;
  text-align: center;
}
.page-login .page-login-action button {
  width: 100px;
}
.page-login .page-login-action a {
  color: #FFF;
}

.ui-view-body {
  min-height: 100%;
  display: none;
}

.panel-container {
  width: 100%;
  height: 100%;
}

.page-header {
  background: #FFF;
  margin: 0px;
  padding: 0px 15px;
  height: 70px;
  width: 100%;
}
.page-header .page-logo {
  width: 235px;
  float: left;
  margin-right: -100%;
  padding: 25px 0px;
}
.page-header .page-logo a {
  margin: 0px;
}
.page-header .page-logo .menu-toggler {
  background: url("../img/sidebar-toggle-light.png");
  display: inline-block;
  width: 20px;
  height: 14px;
  float: right;
  cursor: pointer;
}
.page-header .page-logo .menu-toggler:hover {
  opacity: 0.6;
}
.page-header .top-menu {
  display: table;
  width: 100%;
  height: 70px;
  padding-left: 250px;
}
.page-header .top-menu .navbar-nav {
  height: 70px;
}
.page-header .top-menu .navbar-nav > li {
  height: 70px;
}
.page-header .top-menu .navbar-nav > li > a {
  padding: 25px 15px;
}
.page-header .top-menu .navbar-nav .dropdown-user > a {
  padding: 12px 15px;
}

.page-footer {
  padding: 15px;
  text-align: right;
}

.page-container {
  padding: 15px;
  display: table;
  width: 100%;
}
.page-container .col-left {
  width: 235px;
  margin-right: -100%;
  float: left;
}
.page-container .col-content {
  width: 100%;
  padding-left: 250px;
}

.page-menu {
  background: #FFF;
  display: table;
  width: 100%;
}
.page-menu .page-menu-content {
  margin: 8px 0px;
  border-radius: 2px;
}
.page-menu .page-sidebar-menu {
  padding: 0px;
}
.page-menu .page-sidebar-menu li {
  list-style: none;
  position: relative;
}
.page-menu .page-sidebar-menu > li {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
.page-menu .page-sidebar-menu > li > a {
  margin: 1px 0px 0px 0px;
  text-shadow: none;
  font-size: 14px;
  display: block;
  position: relative;
  padding: 12px 15px;
  text-decoration: none;
  color: #485a6a;
  position: relative;
}
.page-menu .page-sidebar-menu > li > a > i {
  font-size: 18px;
  top: 2px;
  position: relative;
  width: 24px;
  display: inline-block;
}
.page-menu .page-sidebar-menu > li > a > .arrow {
  color: #485a6a;
  width: 10px;
  float: right;
  margin-right: 5px;
  margin-left: 5px;
  display: inline;
  font-size: 16px;
  font-family: FontAwesome;
  height: 10px;
  font-weight: 300;
  text-shadow: none;
}
.page-menu .page-sidebar-menu > li > a > .arrow::before {
  content: "";
}
.page-menu .page-sidebar-menu > li > a:hover {
  background: #f2f6f9;
  color: #5C9ACF;
}
.page-menu .page-sidebar-menu > li.heading {
  padding: 25px 15px 10px 15px;
}
.page-menu .page-sidebar-menu > li.heading > h3 {
  color: #5C9ACF;
  font-size: 13px;
  padding: 0;
  margin: 0;
  font-weight: 600;
}
.page-menu .page-sidebar-menu > li.active > a {
  margin-left: -3px;
  border-left: 3px solid #5C9ACF;
  background: #f2f6f9;
  color: #5C9ACF;
}
.page-menu .page-sidebar-menu > li.active > a > .arrow::before {
  content: "";
}
.page-menu .page-sidebar-menu > li.open > ng-include > .sub-menu {
  display: block;
}
.page-menu .page-sidebar-menu .sub-menu {
  padding: 0;
  margin: 8px 0;
  display: none;
  background: #FFF;
  width: 235px;
}
.page-menu .page-sidebar-menu .sub-menu li {
  background: 0;
  margin: 0;
  padding: 0;
  margin-top: 1px !important;
}
.page-menu .page-sidebar-menu .sub-menu li a {
  color: #485a6a;
  display: block;
  margin: 0;
  padding: 9px 14px 9px 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  background: 0 0;
  position: relative;
}
.page-menu .page-sidebar-menu .sub-menu li a > i {
  font-size: 16px;
  top: 1px;
  position: relative;
  width: 20px;
  display: inline-block;
}
.page-menu .page-sidebar-menu .sub-menu li a > .arrow {
  color: #485a6a;
  width: 10px;
  float: right;
  margin-right: 5px;
  margin-left: 5px;
  display: inline;
  font-size: 16px;
  font-family: FontAwesome;
  height: 10px;
  font-weight: 300;
  text-shadow: none;
}
.page-menu .page-sidebar-menu .sub-menu li a > .arrow::before {
  content: "";
}
.page-menu .page-sidebar-menu .sub-menu li a:hover {
  background: #f2f6f9;
  color: #5C9ACF;
}
.page-menu .page-sidebar-menu .sub-menu li .sub-menu {
  margin: 0px;
}
.page-menu .page-sidebar-menu .sub-menu li .sub-menu li a {
  padding-left: 40px;
}
.page-menu .page-sidebar-menu .sub-menu li.active > a {
  background: #f2f6f9;
  color: #5C9ACF;
}
.page-menu .page-sidebar-menu .sub-menu li.active > a > .arrow::before {
  content: "";
}
.page-menu .page-sidebar-menu .sub-menu li.active .sub-menu {
  display: block;
}
.page-menu li.active > .sub-menu {
  display: block;
}

/* CLOSE MENU */
.close-menu .page-header .page-logo {
  padding: 15px;
  width: 50px;
}
.close-menu .page-header .page-logo a {
  display: none;
}
.close-menu .page-menu {
  width: 50px;
}
.close-menu .page-menu .page-sidebar-menu li.heading {
  display: none;
}
.close-menu .page-menu .page-sidebar-menu > li > a > i {
  width: 20px;
}
.close-menu .page-menu .page-sidebar-menu > li > a > .title {
  display: none;
}
.close-menu .page-menu .page-sidebar-menu > li > a > .arrow {
  display: none;
}
.close-menu .page-menu .page-sidebar-menu > li > ng-include > .sub-menu {
  position: absolute;
  display: none;
  top: 0px;
  left: 50px;
  margin: 0px;
  border: 1px solid #5C9ACF;
}
.close-menu .page-menu .page-sidebar-menu > li > ng-include > .sub-menu .sub-menu {
  border-left: 1px solid #5C9ACF;
  border-right: 1px solid #5C9ACF;
  margin-left: -1px;
  margin-right: -1px;
}
.close-menu .page-menu .page-sidebar-menu > li:hover > ng-include > .sub-menu {
  display: block;
}
.close-menu .page-container .col-left {
  width: 50px;
}
.close-menu .page-container .col-content {
  padding-left: 65px;
}

.page-content {
  display: table;
  width: 100%;
}

.page-info {
  background: #FFF;
  display: table;
  width: 100%;
  padding: 30px 20px 10px 20px;
}

.page-content-header {
  display: table;
  width: 100%;
  padding: 0px;
  height: auto;
  padding: 15px 15px;
  background: #5C9ACF;
}
.page-content-header h1 {
  margin: 0px;
  float: left;
  color: #FFF;
  font-size: 28px;
  padding: 3px 0px;
  font-weight: 300;
}
.page-content-header .actions {
  float: right;
}
.page-content-header .actions button {
  margin: 0px;
  margin-left: 10px;
}

.edit-container {
  width: 100%;
  background: #FFF;
  margin-bottom: 20px;
  padding: 20px 20px 20px;
}
.edit-container .edit-container-title {
  padding-bottom: 10px;
}
.edit-container .edit-container-title h2 {
  font-size: 22px;
  font-weight: 300;
  margin: 0px;
}
.edit-container h5 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
}
.edit-container md-tabs md-tabs-wrapper {
  margin-bottom: 0px;
  background: #666;
}
.edit-container md-tabs md-tabs-wrapper md-tab-item span {
  color: #CCC;
}
.edit-container md-tabs md-tabs-wrapper md-tab-item.md-active span {
  color: #FFF;
}
.edit-container md-tabs md-tab-content {
  padding: 0px 10px 10px 10px;
  border: 1px solid #DDD;
}
.edit-container md-input-container label {
  margin-bottom: 0px;
}
.edit-container .input-block {
  margin-top: 20px;
}
.edit-container .input-block label {
  font-size: 11px;
  font-weight: bold;
  display: block;
  color: #666;
  margin-bottom: 10px;
}
.edit-container .input-block .input-file {
  display: inline-block;
  background: #DDD;
  padding: 5px;
  border: 1px solid #CCC;
  margin: 0px 2px;
  border-radius: 2px;
}
.edit-container .input-block .sample-image {
  height: 32px;
}
.edit-container md-switch {
  margin: 5px 0px;
  display: table;
}
.edit-container md-switch .md-container {
  float: left;
}
.edit-container md-switch .md-label {
  float: left;
}
.edit-container md-radio-button {
  margin: 5px 0px;
}
.edit-container md-checkbox {
  margin: 5px 0px;
  display: table;
}
.edit-container md-checkbox .md-container {
  float: left;
}
.edit-container md-checkbox .md-label {
  float: left;
}
.edit-container .edit-messages {
  position: relative;
  margin-top: -26px;
  padding: 6px 2px;
}
.edit-container .edit-messages p {
  margin: 0px;
  line-height: 1.2;
  font-size: 12px;
  color: red;
}
.edit-container .modal-picker {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  z-index: 200;
}
.edit-container .datetime-picker-dropdown {
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  margin-top: -150px;
  margin-left: -140px;
  z-index: 200;
}
.edit-container .actions {
  padding-bottom: 0px;
  padding-top: 20px;
}
.edit-container .actions button {
  margin: 0px;
  margin-right: 10px;
}

.data-table-resource {
  padding: 0px;
}
.data-table-resource .data-table-actions {
  text-align: right;
  background: #999;
}
.data-table-resource .data-table-actions .md-button {
  color: #FFF;
}
.data-table-resource table.data-table {
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}
.data-table-resource .titles-row th {
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
  padding: 0 5px !important;
}
.data-table-resource .titles-row th .ng-scope {
  height: 30px !important;
  font-size: 11px;
}
.data-table-resource .filtes-row {
  background: #EEE;
}
.data-table-resource .filtes-row th md-checkbox {
  display: none !important;
}
.data-table-resource .filtes-row th.filter-column {
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  padding: 5px 5px 0px !important;
}
.data-table-resource .filtes-row th.filter-column div {
  height: auto !important;
}
.data-table-resource .filtes-row th.filter-column div.col2 {
  width: 50%;
  float: left;
}
.data-table-resource .filtes-row th.filter-column input.input-filter {
  margin-bottom: 5px;
  width: 100%;
  padding: 2px 5px;
  height: 20px;
  line-height: 20px;
  font-size: 9px;
}
.data-table-resource .filtes-row th.filter-column select {
  line-height: 18px;
  height: 18px;
  width: 100%;
  margin-bottom: 5px;
}
.data-table-resource .filtes-row th.filter-column .modal-picker {
  position: fixed;
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;
  height: 100% !important;
  background: #000;
  opacity: 0.7;
  z-index: 200;
}
.data-table-resource .filtes-row th.filter-column .dropdown-menu {
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  margin-left: -187px !important;
  margin-top: -144px !important;
  z-index: 200;
}
.data-table-resource tbody tr.data-row {
  height: auto !important;
}
.data-table-resource tbody tr.data-row > td {
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  padding: 0px 5px !important;
  font-size: 11px !important;
  position: relative;
  height: 30px;
}
.data-table-resource tbody tr.data-row > td .thumb {
  height: 20px;
  margin: 5px 0px;
}
.data-table-resource tbody tr.data-row > td .actions {
  position: absolute;
  width: 200px;
  top: 0px;
  right: 0px;
  background: #999;
  padding: 0px 15px;
  display: none;
  text-align: right;
}
.data-table-resource tbody tr.data-row > td .actions button {
  width: 30px !important;
  height: 30px !important;
  min-height: 30px !important;
  line-height: 30px !important;
  margin: 0px !important;
}
.data-table-resource tbody tr.data-row img.boolean {
  width: 15px;
  height: 15px;
}
.data-table-resource tbody tr.data-row:hover .actions {
  display: block !important;
}
.data-table-resource md-data-table-pagination div {
  background: #999 !important;
  min-height: 48px;
}

.gallery-upload {
  background: #ddd;
}
.gallery-upload .features {
  float: right;
  width: 300px;
  padding-left: 20px;
}
.gallery-upload .features .heading {
  font-size: 14px;
  font-weight: bold;
}
.gallery-upload .drop {
  padding: 15px;
  border-radius: 5px;
  line-height: 34px;
}
.gallery-upload .drop.drag-over {
  background: #5CB85C;
  color: #fff;
}
.gallery-upload .transfer-box {
  margin-bottom: 5px;
}
.gallery-upload .transfer-box .progress {
  margin-bottom: 0;
}
.gallery-upload .thumbnail {
  line-height: 20px;
  margin-bottom: 5px;
  overflow: hidden;
  word-break: normal;
}
.gallery-upload .thumbnail img {
  max-width: 200px;
  max-height: 150px;
}
.gallery-upload .gallery-box {
  width: 200px;
  padding: 5px;
  margin: 7px;
  float: left;
  min-height: 200px;
  border: 1px solid #ddd;
  overflow: hidden;
}
.gallery-upload .gallery-box .progress {
  margin-bottom: 0;
}
.gallery-upload .gallery-box .thumbnail {
  height: 188px;
  width: 188px;
}
.gallery-upload .gallery-box .title {
  height: 22px;
  overflow: hidden;
  display: block;
}

.gallery-images {
  background: #FFF;
  padding: 20px 15px 15px;
}
.gallery-images ul {
  padding: 0px;
  margin: 0px;
  width: 100%;
  position: relative;
  display: table;
}
.gallery-images ul li {
  list-style: none;
  float: left;
  margin: 0px 10px 10px 0px;
  border: 1px solid #999;
  padding: 4px;
  width: 110px;
  height: 85px;
}
.gallery-images ul li img {
  display: block;
}
