<md-button class="md-icon-button md-primary" aria-label="Delete Selecteds" title="{{'Delete Selecteds'|translate}}" ng-click="massDelete($event)">
    <md-icon md-svg-icon="img/icons/ic_delete_white_24px.svg"></md-icon>
</md-button>