<md-button class="md-icon-button md-primary" aria-label="Filter" title="{{'Filter'|translate}}" ng-click="massFilter($event)">
    <md-icon md-svg-icon="img/icons/ic_filter_list_white_24px.svg"></md-icon>
</md-button>