<md-button class="md-icon-button md-primary" aria-label="Clear Filters" title="{{'Clear Filters'|translate}}" ng-click="massReset($event)">
    <md-icon md-svg-icon="img/icons/ic_clear_all_white_24px.svg"></md-icon>
</md-button>