<div class="page-content" ng-cloak id="page-{{$id}}">
    <div class="page-content-header">
        <h1 translate>{{configInfo.title}}</h1>

        <div class="actions">
            <md-button class="md-raised" ng-click="actionBack()"><span translate>Back</span></md-button>
        </div>
    </div>
    <div class="page-info">
        <dl class="dl-horizontal" ng-if="data">
			<span ng-repeat="item in configInfo.data">
				<dt translate>{{item.name}}</dt>
				<dd td-data type="item.type" options="item.options" value="data[item.data]" ng-class="item.class"></dd>
			</span>
        </dl>
    </div>
    <div ng-if="configInfo.gallery">
        <div class="page-content-header">
            <h1 translate>Images</h1>
        </div>
        <div class="gallery-upload">
            <div flow-init="fileConfig"
                 flow-file-success="fileSuccess( $file, $message, $flow )"
                 flow-files-submitted="fileSubmitted( $files, $event, $flow )"
                 flow-complete="fileComplete( $flow )">
                <div class="drop" flow-drop ng-class="dropClass">
                    <span class="btn btn-default" flow-btn>Upload File</span>
                    <b>OR</b>
                    Drag And Drop your file here
                </div>
                <div>
                    <div ng-repeat="file in $flow.files" class="transfer-box">
                        <div ng-if="file.progress()<1">
                            {{file.relativePath}} ({{file.size}}bytes)
                            <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                                <div class="progress-bar" role="progressbar"
                                     aria-valuenow="{{file.progress() * 100}}"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     ng-style="{width: (file.progress() * 100) + '%'}">
                                    <span class="sr-only">{{file.progress()}}% Complete</span>
                                </div>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-xs btn-warning" ng-click="file.pause()"
                                   ng-show="!file.paused && file.isUploading()">
                                    Pause
                                </a>
                                <a class="btn btn-xs btn-warning" ng-click="file.resume()" ng-show="file.paused">
                                    Resume
                                </a>
                                <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                                    Cancel
                                </a>
                                <a class="btn btn-xs btn-info" ng-click="file.retry()" ng-show="file.error">
                                    Retry
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gallery-images">
            <ul dnd-list="galleryImages">
                <li ng-repeat="item in galleryImages"
                    dnd-draggable="item"
                    dnd-moved="galleryImages.splice($index, 1); reorderImages();"
                    dnd-effect-allowed="move"
                    dnd-horizontal-list="true">
                    <img ng-src="{{item.image.thumb}}"/>
                </li>
            </ul>
        </div>
    </div>


    <div ng-repeat="item in configInfo.includes" show-template template="{{item.template}}"></div>
</div>