<div class="page-content" ng-cloak id="page-{{$id}}">

    <div class="page-content-header">
        <h1 translate>{{configResource.title}}</h1>

        <div class="actions">
            <span ng-repeat="action in configResource.toolbarActions">
                <ng-include src="'view/block/toolbar_actions/'+action.type+'.html'"></ng-include>
            </span>
        </div>
    </div>

    <div layout="column" id="edit-container" class="edit-container md-inline-form" ng-show="editContainerOpen">
        <form name="dataForm" novalidate ng-submit="actionSave($event, data)">
            <div class="edit-container-title">
                <h2 translate id="edit-container-title-new" ng-show="data.id==null">New</h2>
                <h2 translate id="edit-container-title-edit" ng-show="data.id!=null">Edit</h2>
            </div>
            <div ng-if="!configResource.translate">
                <div class="content">
                    <div layout="row" ng-repeat="group in configResource.form">
                        <div ng-repeat="item in group" flex-gt-sm>
                            <ng-include src="'view/block/edit/'+item.type+'.html'"></ng-include>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="configResource.translate">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Default">
                        <div class="content">
                            <div layout="row" ng-repeat="group in configResource.form">
                                <div ng-repeat="item in group" flex-gt-sm>
                                    <ng-include src="'view/block/edit/'+item.type+'.html'"></ng-include>
                                </div>
                            </div>
                        </div>
                    </md-tab>
                    <md-tab label="{{language.abbreviation}}" ng-repeat="language in languages">
                        <div class="content">
                            <div ng-repeat="group in configResource.form">
                                <div ng-repeat="item in group">
                                    <ng-include src="'view/block/edit/'+item.type+'.html'"></ng-include>
                                </div>
                            </div>
                        </div>
                    </md-tab>
                </md-tabs>
            </div>
            <div class="actions">
                <md-button class="md-raised md-primary" ng-disabled="!dataForm.$valid">
                    <span translate>Save</span>
                </md-button>
                <md-button type="button" class="md-raised md-warn" ng-click="actionCancel($event, data)">
                    <span translate>Cancel</span>
                </md-button>
            </div>
        </form>
    </div>

    <div class="data-table-resource">
        <md-content>

            <div class="data-table-actions">
                <span ng-repeat="action in configResource.massActions">
                    <ng-include src="'view/block/mass_actions/'+action.type+'.html'"></ng-include>
                </span>
            </div>

            <md-data-table-container>
                <table md-data-table md-row-select="selectedResource" md-progress="deferred" class="data-table">
                    <thead md-order="queryResource.order" md-trigger="onOrderChange">
                        <tr class="titles-row">
                            <th ng-repeat="column in configResource.columns" name="{{column.name|translateHtml}}" order-by="{{column.orderBy}}" class="title-column"></th>
                        </tr>
                        <tr class="filtes-row">
                            <th ng-repeat="column in configResource.columns" class="filter-column">
                                <ng-include src="'view/block/filter/'+column.filter+'.html'"></ng-include>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in dataResource.data" class="data-row">
                            <td ng-repeat="column in configResource.columns" class="data-column">
                                <div td-data type="column.type" options="column.optionsObject" value="data[column.data]" ng-class="column.class"></div>
                                <div class="actions" ng-if="$last">
                                    <span ng-repeat="action in configResource.columnsActions">
                                        <ng-include src="'view/block/columns_actions/'+action.type+'.html'"></ng-include>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-data-table-container>

            <md-data-table-pagination md-limit="queryResource.limit" md-page="queryResource.page" md-total="{{dataResource.count}}" md-trigger="onPaginationChange" md-row-select="[30,60,90]" md-label="{text:paginationTranslation.text,of:paginationTranslation.of}"></md-data-table-pagination>

        </md-content>
    </div>
</div>

<div class="ui-view-crud" id="ui-view-crud" ui-view></div>