<div class="input-block">
    <!--button ng-model="data[item.data]" name="{{item.data}}" ng-required="item.required"
         class="button-file" ngf-select ngf-pattern="'image/*'"
         ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
         ngf-resize="{width: 100, height: 100}">
        Select Image...
    </button-->
    <input type="file" class="input-file" fileread="data[item.data]" name="{{item.data}}" />

    <img ngf-src="data[item.data]" class="sample-image" />
    <img ngf-src="data[item.data].thumb" class="sample-image" />
</div>