<md-input-container class="md-block">
    <label translate>{{item.label}}</label>
    <input type="integer" ng-model="data[item.data]" name="{{item.data}}" ui-number-mask="0" ng-required="item.required" min="item.min" max="item.max" />
</md-input-container>

<input-messages input="dataForm[item.data]" item="item"></input-messages>