<div ng-messages="input.$error" ng-if="input.$touched" class="edit-messages">
    <p ng-message="min">
        <span translate="VALIDATOR_INVALID_MIN" translate-values="{limit: item.min}"></span>
    </p>
    <p ng-message="max">
        <span translate="VALIDATOR_INVALID_MAX" translate-values="{limit: item.max}"></span>
    </p>
	<p ng-message="minlength">
		<span translate="VALIDATOR_INVALID_MINLENGHT" translate-values="{limit: item.minlength}"></span>
	</p>
    <p ng-message="maxlength">
    	<span translate="VALIDATOR_INVALID_MAXLENGHT" translate-values="{limit: item.maxlength}"></span>
    </p>
    <p ng-message="required">
    	<span translate="VALIDATOR_BLANK"></span>
    </p>
    <p ng-message="match">
    	<span translate="VALIDATOR_INVALID_MATCH"></span>
    </p>
</div>