<div class="input-block" ng-controller="MultiselectController">
	<label translate>{{item.label}}</label>
	<isteven-multi-select    
	    input-model="item.options"    
	    output-model="dataOutput"
	    button-label="label"
	    item-label="label"
	    tick-property="ticked"
	    translation="multiselectTranslation"
	    helper-elements="all filter none"
	>
	</isteven-multi-select>
</div>