<md-input-container class="md-block">
    <label translate>{{item.label}}</label>
    <input ng-model="data[item.data]" name="{{item.data}}" ng-required="item.required" min="item.min" max="item.max" ui-number-mask="2" />
</md-input-container>

<input-messages input="dataForm[item.data]" item="item"></input-messages>