<div layout="row">
	<div flex-gt-sm>
		<md-input-container class="md-block">
		    <label translate>{{item.label}}</label>
		    <input type="password" ng-model="data[item.data]" name="{{item.data}}" ng-required="item.required" ng-minlength="item.minlength" ng-maxlength="item.maxlength">
		</md-input-container>
		<input-messages input="dataForm[item.data]" item="item"></input-messages>
	</div>
	<div flex-gt-sm>
		<md-input-container class="md-block">
		    <label translate>{{"Repeat " + item.label}}</label>
		    <input type="password" ng-model="data[item.data+'_repeat']" name="{{item.data+'_repeat'}}" match="data[item.data]" ng-required="item.required" ng-minlength="item.minlength" ng-maxlength="item.maxlength">
		</md-input-container>
		<input-messages input="dataForm[item.data+'_repeat']" item="item"></input-messages>
	</div>
</div>