<md-input-container class="md-block">
    <label>{{item.label}}</label>
    <md-select ng-model="data[item.data]">
      <md-option ng-repeat="option in item.options" value="{{option.value}}" translate>{{option.label}}</md-option>
    </md-select>
</md-input-container>