<md-input-container class="md-block">
  <label>{{item.label}}</label>
  <textarea ng-model="data[item.data]" name="{{item.data}}" ng-required="item.required" ng-minlength="item.minlength" ng-maxlength="item.maxlength" columns="{{item.columns}}" rows="{{item.rows}}"></textarea>
</md-input-container>

<input-messages input="dataForm[item.data]" item="item"></input-messages>