<md-input-container class="md-block">
    <label translate>{{item.label}}</label>
    <input ng-model="data[item.data]" name="{{item.data}}" ng-required="item.required" ng-minlength="item.minlength" ng-maxlength="item.maxlength" />
</md-input-container>

<input-messages input="dataForm[item.data]" item="item"></input-messages>