<md-input-container class="md-block">
    <label translate>{{item.label}}</label>
    <input ng-model="data[item.data]" name="{{item.data}}" ng-required="item.required" ng-click="isOpen=true" datetime-picker="HH:mm"/>
</md-input-container>

<div class="modal-picker" ng-show="isOpen"></div>
<input type="hidden" ng-model="data[item.data]" datetime-picker="HH:mm" is-open="isOpen" enable-date="false" enable-time="true" today-text="{{'Today'|translate}}" now-text="{{'Now'|translate}}" date-text="{{'Date'|translate}}" time-text="{{'Time'|translate}}" clear-text="{{'Clear'|translate}}" close-text="{{'Done'|translate}}" default-time="00:00" timepicker-options="{showMeridian:false}" />

<input-messages input="dataForm[item.data]" item="item"></input-messages>