<ul class="sub-menu">
    <li class="nav-item" ng-repeat="menuItem in itens">
        <a ng-click="open($event, menuItem.route);" id="menu-{{menuItem.route|toId}}" class="nav-link">
            <i class="{{menuItem.icon}}" ng-if="menuItem.icon"></i>
            <span class="title">{{menuItem.title}}</span>
            <span class="selected"></span>
            <span class="arrow open" ng-if="menuItem.itens.length>0"></span>
        </a>
        <ng-include src="'view/block/submenu.html'" ng-init="itens = menuItem.itens" ng-if="menuItem.itens.length>0"></ng-include>
    </li>
</ul>