<div>
    <select class="form-control input-sm" ng-model="filterResource[column.data]['value']">
        <option value=""></option>
        <option translate value="1">YES</option>
        <option translate value="0">NO</option>
    </select>
</div>