<div class="col2">
	<div class="modal-picker" ng-show="date_start.opened"></div>
    <input type="text" class="form-control input-sm input-filter" placeholder="De" datetime-picker="dd/MM/yyyy" is-open="date_start.opened" ng-model="filterResource[column.data]['date_start']" ng-click="date_start.opened=true" enable-date="true" enable-time="false" today-text="{{'Today'|translate}}" now-text="{{'Now'|translate}}" date-text="{{'Date'|translate}}" time-text="{{'Time'|translate}}" clear-text="{{'Clear'|translate}}" close-text="{{'Done'|translate}}" default-time="00:00" timepicker-options="{showMeridian:false}" />
</div>
<div class="col2">
	<div class="modal-picker" ng-show="date_end.opened"></div>
    <input type="text" class="form-control input-sm input-filter" placeholder="Até" datetime-picker="dd/MM/yyyy" is-open="date_end.opened" ng-model="filterResource[column.data]['date_end']" ng-click="date_start.opened=true" enable-date="true" enable-time="false" today-text="{{'Today'|translate}}" now-text="{{'Now'|translate}}" date-text="{{'Date'|translate}}" time-text="{{'Time'|translate}}" clear-text="{{'Clear'|translate}}" close-text="{{'Done'|translate}}" default-time="00:00" timepicker-options="{showMeridian:false}" />
</div>