<div class="col2">
    <input type="text" class="form-control input-sm input-filter" placeholder="De" ng-model="filterResource[column.data]['number_start']" ui-number-mask="2" />
</div>
<div class="col2">
    <input type="text" class="form-control input-sm input-filter" placeholder="Até" ng-model="filterResource[column.data]['number_end']" ui-number-mask="2" />
</div>