<div>
    <select class="form-control input-sm" ng-model="filterResource[column.data]['value']">
        <option value=""></option>
        <option ng-repeat="option in column.options" value="{{option.value}}" translate>{{option.label}}</option>
    </select>
</div>