<div class="panel-container">
    <div data-ng-include="'view/block/header.html'" data-ng-controller="HeaderController" class="page-header"></div>
    <div class="page-container">
        <div class="col-left">
            <div data-ng-include="'view/block/menu.html'" data-ng-controller="MenuController" class="page-menu"></div>
        </div>
        <div class="col-content">
            <div ui-view class="ui-view-content"></div>
        </div>
    </div>
    <div data-ng-include="'view/block/footer.html'" data-ng-controller="FooterController" class="page-footer"></div>
</div>