<md-button class="md-icon-button md-primary" aria-label="Delete" title="{{'Delete'|translate}}" ng-click="actionDelete($event, data)">
    <md-icon md-svg-icon="img/icons/ic_delete_white_24px.svg"></md-icon>
</md-button>