<md-button class="md-icon-button md-primary" aria-label="Edit" title="{{'Edit'|translate}}" ng-click="actionEdit($event, data)">
    <md-icon md-svg-icon="img/icons/ic_edit_white_24px.svg"></md-icon>
</md-button>