<md-button class="md-icon-button md-primary" aria-label="Open" title="{{'Open'|translate}}" ng-click="actionOpen($event, data)">
    <md-icon md-svg-icon="img/icons/ic_launch_white_24px.svg"></md-icon>
</md-button>