<md-button class="md-icon-button md-primary" aria-label="action.title" title="{{action.title|translate}}" ng-click="actionCustom($event, 'actionRefresh', data)">
    <md-icon md-svg-icon="img/icons/ic_refresh_white_24px.svg"></md-icon>
</md-button>